/* Still a bit of a mess but enough to get going */

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #B3C2C0;
  color: #00221E;
}

#header {
  font-family: 'Lato', sans-serif;
  display: flex;
}

#grafs {
  font-family: 'Lora', serif;
}

#map {
  height: 450px;
  width: 75%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.popups {
  font-family: 'Lora', serif;
  line-height: .75;
}
