/* Still a bit of a mess but enough to get going */

body:not(#no-css) {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #FFFF;
  color: #112C50;
}

.container {
  padding-top: 1.5%;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

h1 {
  font-variant: small-caps;
}

#header {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  height: 450px;
  width: 100%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#project-info {
    font-family: 'Lora', serif;
    width: 75%;
    margin: auto;
}

#northern-oregon-coast-range-hike-fish-map {
  text-align: center;
}

.marker {
  background-image: url('mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.popups {
  font-family: 'Lora', serif;
  line-height: .75;
}
